<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cmakfollowus</name>
	<displayName><![CDATA[Follow us with rss and social networks]]></displayName>
	<version><![CDATA[1.1]]></version>
	<description><![CDATA[RSS feed from new products and social networks links]]></description>
	<author><![CDATA[cmak.fr]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>